body{
    color: rgb(188, 199, 38);
    background-color: rgb(19, 51, 158);
}
h1{
    width: 70%;
}
.principal{
    background-color: rgb(228, 72, 33);
    text-align:center;
    
}
.segundo{
    background-color: aqua;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.tercero{
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    margin: 10px;
}